<a
  href="https://www.facebook.com/adt.theatre/"
  target="_blank"
  rel="noopener noreferrer"
  class="banner row align-items-center"
>
  <div class="col-12 col-lg-3">
    <div class="banner__title">
      Prehliadka inscenácií nominovaných na<br />
      <div class="banner__akademia">
        <strong>Cenu Akadémie 2020/2021</strong>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="banner__img-wrapper">
      <img class="banner__img" src="/img/adt-banner.png" />
    </div>
  </div>
  <div class="col-12 col-lg-3">
    <div class="banner__dates">
      <p>
        <strong>Bratislava</strong>
      </p>
      <p>
        3. ročník<br />
        2. apríl - 2. máj 2022
      </p>
      <strong
        >SND<br />
        Ticho a spol.<br />
        A4<br />
        LAB VŠMU</strong
      >
    </div>
  </div>
</a>
