.article-teasers {
  columns: 2 280px;
}

.article-teaser {
  display: block;
  position: relative;
  text-decoration: none;

  > * {
    transition: all 0.3s;
  }

  &__title {
    position: absolute;
    width: 90%;
    font-family: $font-family-accent;
    font-size: 0.66666rem;
    line-height: 26px;
    text-transform: uppercase;
  }

  &--1 &__image {
    padding-left: 10%;
  }
  &--1 &__title {
    top: 20%;
    left: 0;
  }

  &--2 &__image {
    padding-left: 10%;
  }
  &--2 &__title {
    top: 30%;
    left: 0;
  }

  &--3 &__image {
    padding-right: 10%;
  }
  &--3 &__title {
    top: 50%;
    left: 10%;
  }

  &--4 &__image {
    padding-right: 10%;
  }
  &--4 &__title {
    top: 60%;
    left: 10%;
  }

  &:hover {
    .article-teaser__title {
      top: 40% !important;
      left: 5%;
      right: 5%;
    }
    .article-teaser__image {
      padding-left: 5%;
      padding-right: 5%;
    }
  }
}
