.article-teasers {
  columns: 2 280px;
  break-inside: avoid;
}

.article-teaser {
  display: block;
  position: relative;
  text-decoration: none;

  > * {
    transition: all 0.3s;
  }

  &__image {
    position: relative;
    padding-bottom: 75%;
    // background: rgba(0, 0, 0, 0.5);

    > * {
      position: absolute;
    }
  }

  &__image--placeholder {
    background: black;
    height: 0;
    width: 100%;
    padding-bottom: 60%;
  }

  &__title {
    position: absolute;
    width: 90%;
    font-family: $font-family-accent;
    font-size: 1rem;
    line-height: 1.4;
    text-transform: uppercase;
  }

  &__image {
    left: 1rem;
  }
  &__title {
    bottom: 1rem;
    left: 0;
  }

  &:hover {
    .article-teaser__title {
      left: 1rem;
    }
    .article-teaser__image {
      left: 0;
    }
  }
}
