.article {
  position: relative;

  &__featured-img {
    position: absolute;

    top: 20vh; // falback
    right: 50%; // fallback
    .randomize--1 & {
      top: 20vh;
      right: 50%;
    }
    .randomize--2 & {
      top: 10vh;
      right: 60%;
    }
    .randomize--3 & {
      top: 30vh;
      left: 40%;
    }
    .randomize--4 & {
      top: 20vh;
      left: 60%;
    }
    .randomize--5 & {
      top: 10vh;
      left: 50%;
    }
    .randomize--6 & {
      top: 30vh;
      right: 60%;
    }
  }

  &__content {
    position: relative;

    img {
      left: 50%;
    }
  }

  &__title {
    font-family: $font-family-accent;
    font-size: 1.5rem;
    max-width: 600px;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
}
