.menu {
  margin-bottom: 6rem;
  text-align: center;

  &__item {
    display: inline-block;
    position: relative;
    padding: 0.5rem;
    font-family: $font-family-serif;
    //text-transform: uppercase;
    font-size: 1.25rem;
    line-height: 1;
    text-decoration: none;

    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0.2rem;
      right: 0.5rem;
      left: 0.5rem;
      height: 18px;
      background-color: transparent;
      transition: $transition;
    }

    &:hover {
     &:after {
       background-color: $color-black;
     }
    }
  }
}