.single {
  max-width: 710px;
  margin: 0 auto;

  &__title {
    font-family: $font-family-accent;
    text-transform: uppercase;
    margin-bottom: 2rem;
    text-align: left;

    &--center {
      text-align: center;
    }
  }

  &__intro {
    font-style: italic;
  }
}
