img {
  max-width: 100%;
  mix-blend-mode: multiply;
  filter: saturate(0);
  display: block;
}

.img-holder {
  width: 100%;
  position: relative;

  &:after {
    content: "";
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  /* the fallback for IE 10, 11 and Edge. */
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    &:after {
      display: block;
    }
  }
  @supports (-ms-ime-align: auto) {
    &:after {
      display: block;
    }
  }
}
