$body-padding: 3rem;

body {
  color: $color-white;
  padding: $body-padding 0;
}

header {
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  color: $color-black;
  height: 56px;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: calc(100vh - #{$body-padding} * 2);
  padding: 4rem 0 0 0;
  background: $color-green;

  > * {
    flex: 1;
  }
}

.main-container {
  flex-grow: 1;
}

footer {
  flex-grow: 0;
}
