$body-padding: 3rem;

html {
  overflow-x: hidden;
}

body {
  color: $color-white;
  padding: $body-padding 0;
}

header {
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  color: $color-black;
  height: 56px;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: calc(100vh - #{$body-padding} * 2);
  padding: 6rem 0 0 0;

  background: $color-green; // fallback color

  > * {
    flex: 1;
  }
}

@mixin create-background($number, $color) {
  .randomize--#{$number} {
    .logo {
      border-color: mix(#000, $color, 90);
      &:after,
      &:before {
        background: mix(#000, $color, 90);
      }
    }

    a {
      &:focus,
      &:hover,
      &:active {
        &:after {
          color: mix(#000, $color, 90);
        }
      }
    }
    color: mix(#000, $color, 90);
    &,
    .menu,
    header {
      color: mix(#000, $color, 80);
      background: mix(#fff, $color, 90);
    }
    body {
      color: mix(#fff, $color, 88);
    }
    main {
      background: $color;
    }
    .img-holder:after {
      background: transparentize(darken($color, 5), 0.2);
    }
  }
}
@include create-background(1, $color-green);
@include create-background(2, $color-orange);
@include create-background(3, $color-blue);
@include create-background(4, $color-dark-green);
@include create-background(5, $color-maroon);
@include create-background(6, $color-purple);

.main-container {
  flex-grow: 1;
}

footer {
  flex-grow: 0;
}
