html {
  font-family: $font-family-serif;
  font-size: 125%;
  line-height: 1.5;
  color: $color-black;
}

strong {
  font-size: 0.66666rem;
  font-family: $font-family-accent;
  text-transform: uppercase;
}

a {
  color: inherit;

  &:after {
    content: '';
    display: block;
    position: absolute;
    height: 18px;
    background-color: transparent;
    transition: $transition;
  }

  &:focus,
  &:hover,
  &:active {
    position: relative;
    text-decoration: none;

    &:after {
      background-color: $color-black;
    }
  }
}