html {
  font-family: $font-family-serif;
  font-size: 112.5%;
  line-height: 1.5;
  color: $color-black;
}

strong {
  font-size: 0.66666rem;
  font-family: $font-family-accent;
  text-transform: uppercase;
  font-style: normal;
}

a {
  color: inherit;

  &:after {
    content: "";
    display: block;
    position: absolute;
    height: 18px;
    background-color: transparent;
    transition: $transition;
  }

  &:focus,
  &:hover,
  &:active {
    position: relative;
    text-decoration: none;

    &:after {
      background-color: $color-black;
    }
  }
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
  font-family: $font-family-accent;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.414rem;
}
h3 {
  font-size: 1rem;
}

h2 + h3 {
  margin-top: -1rem;
}

li {
  margin-bottom: 0.5rem;
}
