{{ define "main" }} {{ partial "prehliadka-banner" }}
<div class="row mb-6">
  <div class="col-md-4 col-xl-3 mb-2">
    {{ .Params.perex | markdownify }}
    <a href="/o-akademii">...viac o akadémii</a>
  </div>
  <div class="col-md-4 col-xl-6 mb-2">
    <div class="row">
      <div class="col-12 d-xl-none">
        <div class="article-teasers">
          <div class="spacer"></div>
          {{ range $i,$p := first 10 (where .Site.RegularPages "Type" "clanky")
          }}
          <div class="mb-2">{{ partial "article-teaser" . }}</div>
          {{ end }}
        </div>
      </div>
      <div class="d-none d-xl-block col-xl-6">
        <div class="article-teasers">
          <div class="spacer"></div>
          {{ range $i,$p := first 14 (where .Site.RegularPages "Type" "clanky")
          }} {{if not (modBool $i 2)}}
          <div class="mb-2">{{ partial "article-teaser" . }}</div>
          {{ end }} {{ end }}
        </div>
      </div>
      <div class="d-none d-xl-block col-xl-6">
        <div class="article-teasers">
          {{ range $i,$p := first 14 ( where .Site.RegularPages "Type" "clanky")
          }} {{if (modBool $i 2)}}
          <div class="mb-2">{{ partial "article-teaser" . }}</div>
          {{ end }} {{ end }}
        </div>
      </div>
    </div>
    <a href="/clanky">...čítať viac článkov</a>
  </div>
  <div class="col-md-4 col-xl-3">
    <div class="spacer spacer--large"></div>
    <div class="timeline">
      {{ range first 4 (where .Site.RegularPages "Type" "oznamy") }}
      <div class="mb-2">{{ partial "news-teaser" . }}</div>
      {{ end }}
    </div>
    <a href="/oznamy">...čítať viac oznamov</a>
  </div>
</div>

{{ end }}
