$color-black: #000;
$color-white: #fff;
$color-orange: #ff6b1a;
$color-green: #4d9f61;
$color-dark-green: #05544cd9;
$color-maroon: #813a4c;
$color-blue: #2117a6c7;
$color-purple: #2b406fe0;

$font-family-serif: "maiola", serif;
$font-family-accent: "acumin-pro-wide", sans-serif;

$transition: all 0.1s linear;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-l: 992px;
