$color-black: #000;
$color-white: #fff;
$color-orange: #b65d2c;
$color-green: #4d8e5d;
$color-dark-green: #2b7770;
$color-maroon: #813a57;
$color-blue: #615d94;
$color-purple: #4c6e92;

$font-family-serif: "Noto Serif", serif;
$font-family-accent: "Montserrat", sans-serif;

$transition: all 0.1s linear;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-l: 992px;
